In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
Data = pd.read_csv("Transformed_Housing_Data2.csv")

In [4]:
Data.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0

In [5]:
X = Data.iloc[:,0]

In [6]:
Y = Data.iloc[:,1:31]

In [7]:
X.head(5)

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: Sale_Price, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3)

In [10]:
X_train.shape

(15126,)

In [11]:
Y_train.shape

(15126, 30)

In [12]:
Y_test.shape

(6483, 30)

In [13]:
from sklearn import preprocessing
scale = preprocessing.StandardScaler()

In [16]:
Y_train = scale.fit_transform(Y_train)

In [18]:
Y_train

array([[ 1.75129257, -1.4464595 ,  0.50682884, ..., -0.107562  ,
        -0.17187171, -0.04884348],
       [-1.46599232, -1.4464595 , -0.64227747, ...,  9.29696327,
        -0.17187171, -0.04884348],
       [-0.39356403,  0.17797225, -0.2736962 , ..., -0.107562  ,
        -0.17187171, -0.04884348],
       ...,
       [ 0.67886427,  1.1526313 ,  1.65593515, ..., -0.107562  ,
        -0.17187171, -0.04884348],
       [ 0.67886427,  1.1526313 ,  1.35239764, ..., -0.107562  ,
        -0.17187171, -0.04884348],
       [-0.39356403, -1.4464595 , -1.11926499, ..., -0.107562  ,
        -0.17187171, -0.04884348]])

In [20]:
Y_test = scale.fit_transform(Y_test)

In [22]:
Y_test

array([[-1.49338544, -1.45003695, -0.708577  , ..., -0.12259907,
        -0.16160402, -0.04652061],
       [ 0.67155593,  0.49444326, -0.31455988, ..., -0.12259907,
        -0.16160402, -0.04652061],
       [-0.41091476, -1.45003695, -0.96171648, ..., -0.12259907,
        -0.16160402, -0.04652061],
       ...,
       [-0.41091476,  1.79076339,  0.4140416 , ..., -0.12259907,
        -0.16160402, -0.04652061],
       [-1.49338544, -1.45003695, -1.18183778, ..., -0.12259907,
        -0.16160402, -0.04652061],
       [ 0.67155593,  0.81852329,  0.50209012, ..., -0.12259907,
        -0.16160402, -0.04652061]])