In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv("Raw_Housing_Prices3.csv")

In [4]:
from sklearn.impute import SimpleImputer

In [5]:
mapping={'nan' : '0',
         'Once' : '1',
         'Twice' : '2',
         'Thrice' : '3',
         'Four' : '4'}
data['No of Times Visited'] = data['No of Times Visited'].map(mapping)

In [6]:
data['Ever Renovate'] = np.where(data['Renovated Year']==0, 'No', 'Yes')

In [7]:
data['Purchase Year'] = pd.DatetimeIndex(data['Date House was Sold']).year

In [8]:
data['Years Since Renovation'] = np.where(data['Ever Renovate'] == 'Yes',
                                          abs(data['Purchase Year'] - 
                                              data['Renovated Year']), 0)

In [13]:
data.drop(columns = ['Purchase Year', 'Date House was Sold', 'Renovated Year'], inplace = True)

In [17]:
data.head()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,Condition of the House,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovate,Years Since Renovation
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,No,NaN,Fair,...,1180.0,0,63,98178.0,47.5112,-122.257,1340.0,5650,No,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,No,NaN,Fair,...,2170.0,400,67,98125.0,47.7210,-122.319,1690.0,7639,Yes,26
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,No,NaN,Fair,...,770.0,0,85,98028.0,47.7379,-122.233,2720.0,8062,No,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,No,NaN,Excellent,...,1050.0,910,53,98136.0,47.5208,-122.393,1360.0,5000,No,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,No,NaN,Fair,...,1680.0,0,31,98074.0,47.6168,-122.045,1800.0,7503,No,0

In [19]:
data['Sale Price'].corr(data['Flat Area (in Sqft)'])

0.6951704258420673

In [21]:
np.corrcoef(data['Sale Price'], data['Flat Area (in Sqft)'])

array([[1.        , 0.69517043],
       [0.69517043, 1.        ]])